.img-snaker{
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}
.custom-flex{
    display: flex;
}
.customradio-main{
    text-align: start;
    border: 1px #e4e3e3 solid;
    width: 250px;
    height: 400px;
    padding: 5px;
}
.custom-border {
    margin-left: 15px;
}
.custom-name{
    font-size: 15px;
    color: #58595b!important;
    padding: 12px 3px;
    font-weight: 700;
}
.radio {
    margin-right: 5px;
}
.line{
    width: 100%;
    border: 1px solid rgb(231 231 231);
    margin-top: 15px;
}
.checkbox-text{
    margin-left: 5px;
}
.img-product-singal{
    margin-left: 10px;
    width: 220px;
    height: 300px;
}
.pro-text{
    list-style-type: none;
    font-size: 14px;
    color: rgb(88, 92, 112);
    border-bottom: 1px rgba(0, 0, 0, 0.13) solid;
    padding: 4px 0 3px 0;
}
.pro-span{
    color: #737577;
    font-size: 14px;
}
.img-link{
    text-decoration: none;
    text-align: start;
}
.text-paroduct {
    margin-left: 10px;
}
.prise-span{
    color: #58595b;
    font-weight: 700;
}
.prise-line-span{
    margin-left: 5px;
    text-decoration: line-through;
    color: #737577;
}
.prise-off{
    color: red;
    font-size: 14px;
    margin-left: 8px;
}