.img-snaker{
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}
.custom-flex{
    display: flex;
}
.customradio-main{
    text-align: start;
    border: 1px #e4e3e3 solid;
    width: 250px;
    height: 400px;
    padding: 5px;
}
.custom-border {
    margin-left: 15px;
}
.custom-name{
    font-size: 15px;
    color: #58595b!important;
    padding: 12px 3px;
    font-weight: 700;
}
.radio {
    margin-right: 5px;
}
.line{
    width: 100%;
    border: 1px solid rgb(231 231 231);
    margin-top: 15px;
}
.checkbox-text{
    margin-left: 5px;
}
#box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
}
.image-logo{
    width: 240px;
}
.main-product-data{
    text-align: start;
}
.text-product{
    padding-left: 10px;
    font-size: 14px;
}
.p-title{
    color: rgb(88, 92, 112);
    font-weight: 700;
}
.p-category{
    color: #737577;
}
.p-price{
    color: #58595b;
}
.p-offer{
    color: red;
}
.singal-product-data{
    text-align: start;
    display: flex;
}
.image-singal{
    width: 350px;
}
.link{
    text-decoration: none;
}
.div-flex{
    display: flex;
    gap: 10px;
}